header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -60px;
    width: 100%;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-color);
}

