footer {
    font-size: 0.85rem;
    color: #7A7A7A;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}

footer a:hover {
    text-decoration: underline;
    transition: all 0.3s ease;
}