:root, [data-theme="tea"] {
    --font-family: 'Quicksand', sans-serif;
    --primary-color: #6491309f;
    --secondary-color: #4caf50;
    --background-color: #F3EDE4;
    --background-color-alt: #EAF5E8;
    --border-color: white;
    --text-color: #3c3c3c;
    --text-color-alt: #5a5a5a;
    --cup-color: hsl(31, 38%, 70%);
    --liquid-color: #8bc34a81;
}

[data-theme="coffee"] {
    --background-color: #2e2b28;
    --background-color-alt: #3c3c3c;
    --border-color: #3c3c3c;
    --text-color: #f0ebe3;
    --text-color-alt: #d4cfc6;
    --cup-color: #dbcabd;
    --liquid-color: #6F4E37;
}

.html,
body {
    font-family: var(--font-family);
    background-color: var(--background-color-alt);
    color: var(--text-color);
    color-scheme: light dark;
    transition: all 0.2s ease-in-out;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    max-width: fit-content;
    margin: 0 auto;
    background-color: var(--background-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding-bottom: 1.5rem;
    gap: 2rem;
}

header, footer {
    text-align: center;
    padding: 1rem;
}

.primary-btn {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 0.5rem;
}

.primary-btn:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.secondary-btn {
    background-color: transparent;
    font-family: var(--font-family);
    color: #4B4B4B;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 0.5rem;
}

.secondary-btn:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}